<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="person" class="ion-padding-top ion-text-center">
    <img [src]="getAvatar" alt="avatar">
    <h2>{{person.name}}</h2>
    <p>{{person.description}}</p>

    <div>
      <ion-label text-wrap color="primary">Posts {{person.postsCount}} </ion-label>
      <ion-label text-wrap color="primary" style="padding: 0px 10px;">Following {{person.followingCount}} </ion-label>
      <ion-label text-wrap color="primary">Followers {{person.followersCount}} </ion-label>
    </div>

    <ion-list style="height: 100%; margin: 0">

      <ion-grid fixed>
        <ion-row class="ion-align-items-stretch">
          <ion-col size="12" size-md="12" *ngFor="let post of posts">

            <flue-post [post]="post"></flue-post>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>
