<ion-card class="speaker-card">
  <ion-card-header>
    <ion-item detail="false" lines="none">
      <ion-avatar slot="start">
        <img [src]="getAvatar" alt="Speaker profile pic">
      </ion-avatar>
      <div style="display: block;">
        <ion-card-subtitle>{{ this.post.person?.username }}</ion-card-subtitle>
        <ion-card-title>{{ this.post.person?.name }}</ion-card-title>
      </div>
    </ion-item>

  </ion-card-header>

  <ion-card-content class="content">
    {{ post.text }}
  </ion-card-content>

  <div *ngIf="post.comments.length > 0">
    <hr>
    <div *ngIf="post.comments.length > 2 && !moreComments" (click)="showMoreComments()"> Exibir todos comentarios </div>
    <div class="comments" *ngFor="let comment of comments">
      <p><span style="font-weight: 500">{{comment?.person?.username}}:</span> {{comment.text}}</p>
    </div>
  </div>

  <hr>

  <ion-row class="ion-no-padding ion-justify-content-center">
    <ion-col size="" class="ion-text-left" style="display:flex">
      <ion-input [(ngModel)]="commentText" placeholder="Adicione um comentario..." name="username" required>
      </ion-input>
    </ion-col>
    <ion-col size="3" lass="ion-text-right">
      <ion-button fill="clear" size="small" color="primary" (click)="sendComment(post)">
        <p>Enviar</p>
        <!-- <ion-icon name="chatboxes" slot="start"></ion-icon> -->
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>
