<mat-toolbar class="navbar" color="primary" *ngIf="currentUser">
  <mat-toolbar-row>
    <button mat-button color="secondary" routerLink="/">Home</button>
    <button mat-button color="secondary" routerLink="/chat">Chat</button>
    <button mat-button color="secondary" routerLink="/games">Games</button>
    <button mat-button color="secondary" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<!--The content below is only a placeholder and can be replaced.-->
<div flex class="main">
  <perfect-scrollbar>
    <router-outlet></router-outlet>
  </perfect-scrollbar>
</div>