<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSearch()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-toolbar>

</ion-header>
<ion-content class="outer-content">
  <ion-list style="height: 100%;">
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6" *ngFor="let person of people">
          <ion-card class="speaker-card">
            <ion-card-header>
              <ion-item detail="false" lines="none">
                <ion-avatar slot="start">
                  <img [src]="getAvatar(person)" alt="Speaker profile pic">
                </ion-avatar>
                <div style="display: block">
                  <div>
                    {{person.name}}
                  </div>
                  <div>
                    {{person?.username}}
                  </div>
                </div>
                <div slot="end">
                  <ion-col size="4" lass="ion-text-right">
                    <ion-button fill="clear" size="small" color="primary" *ngIf="!person.isFollowing"
                      (click)="follow(person)">
                      <ion-label>Follow</ion-label>
                    </ion-button>

                    <ion-button fill="clear" size="small" color="primary" *ngIf="person.isFollowing"
                      (click)="unfollow(person)">
                      <ion-label>Unfollow</ion-label>
                    </ion-button>
                  </ion-col>
                </div>
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              {{person.description}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
