<mat-card class="example-card" style="width:70vh;">
    <mat-card-header style="text-align: left;">
      <!-- <img mat-card-avatar class="example-header-image" src="{{content.profilePicture}} | " alt="Photo of a Shiba Inu"> -->
      <img mat-card-avatar class="example-header-image" src="{{img}}" alt="Photo of a Shiba Inu">
      <mat-card-title>{{content.person.name || "Anonymus"}} </mat-card-title>
      <mat-card-subtitle>@{{content.person.username || "Anonymus"}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="content.midia" src="{{content.midia}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ content.text }}
      </p>
    </mat-card-content>


    <mat-card-actions style="padding: 0px;margin: 0px;">
      {{content.likes}}
      <button mat-button>LIKE</button>
      <button *ngIf="content.isMyPost" mat-button (click)="deletePost(content.postId)" style="color: red">Excluir</button>
    </mat-card-actions>

    <div *ngIf="content.comments.length > 2">
      <hr style="padding: 0px;margin: 0px;">
      <p class="see-old-comments">
        Ver comentarios anteriores</p>
      <p *ngFor="let comment of content.comments" class="comments">{{comment.person.email}} - {{comment.text}}</p>
    </div>

    <hr style="padding: 0px;margin: 0px;">

    <mat-form-field class="post-field">
      <input matInput placeholder="Adicione um comentario aqui!" class="comment-box"/>
    </mat-form-field>
    <button mat-button (click)="post()"> Enviar </button>

  </mat-card>
  <br/>