.example-card {
    max-width: auto;
  }
  
  .example-header-image {
    height: 45px;
    width: 45px;
    background-size: cover;
  }

.see-old-comments{
  color: #999!important;
  font-weight: 500!important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.comments{
  color: #999!important;
  font-weight: 500!important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.comment-box{
  color: #999!important;
  font-weight: 500!important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.post-field{
	width: 62vh;
  font-size: 14px;
}