<mat-card class="example-card" style="width:70vh;">
    <mat-card-header>
      <!-- <img mat-card-avatar class="example-header-image" src="{{content.profilePicture}} | " alt="Photo of a Shiba Inu"> -->
      <img mat-card-avatar class="example-header-image" src="{{img}}" alt="Photo of a Shiba Inu">
      <mat-card-title>{{content.name || "Anonymus"}} </mat-card-title>
      <mat-card-subtitle>{{content.user || "@Anonymus"}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="content.midia" src="{{content.midia}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ content.text }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>Comment</button>
    </mat-card-actions>
  </mat-card>
  <br/>