<mat-toolbar class="navbar" color="primary" *ngIf="currentUser">
  <mat-toolbar-row>
    <span>Flue</span>
    <span class="small-spacer"></span>
    <button mat-button color="secondary" routerLink="/">Home</button>
    <button mat-button color="secondary" routerLink="/chat">Chat</button>
    <span class="medium-spacer"></span>
    <input matInput class="search-bar" [(ngModel)]="searchText" placeholder="Pesquisar Usuarios" value="">
    <button mat-button color="secondary"  (click)="search()">Pesquisar</button>
    <span class="example-spacer"></span>
    <button mat-button color="secondary" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<div flex class="main">
  <perfect-scrollbar >
      <router-outlet></router-outlet>
  </perfect-scrollbar>
</div>
