<mat-toolbar class="navbar" color="primary" *ngIf="currentUser">
  <mat-toolbar-row>
    <button mat-button color="secondary" routerLink="/">Home</button>
    <button mat-button color="secondary" routerLink="/chat">Chat</button>
    <button mat-button color="secondary" routerLink="/games">Games</button>
    <span class="medium-spacer"></span>
    <input matInput class="search-bar" [(ngModel)]="searchText" placeholder="Pesquisar Usuarios" value="">
    <button mat-button color="secondary"  (click)="search()">Pesquisar</button>
    <span class="example-spacer"></span>
    <button mat-button color="secondary" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<div flex class="main">
  <perfect-scrollbar >
    <div class="container row">
      <div class="item">
        <router-outlet></router-outlet>
      </div>
      <div class="item" *ngIf="currentUser">
        Você
        Amigos
      </div>
    </div>
  </perfect-scrollbar>
</div>